.navbar {
    /*padding: 0rem 3rem 0rem 3rem;*/
    margin-bottom: 0px;
}

.tab-content > div {
    padding-top: 1rem;
}

.about-container {
    padding-top: 64px;
}

.jumbotron {
	padding-bottom: 32px;
}

#VIP-logo {
    font-family: "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
	font-weight: 900;
    font-size: 2rem;
    letter-spacing: 2.0px;
}

#logo-info {
    font-size: 0.4rem;
    color: white;
    font-weight: 100;
    margin-top: 18px;
}

/*body { padding-top: 2rem; }*/

input[name="daterange"] {
    /*width: 165px;*/
}

